*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link{
    text-decoration: none;
    color: red;
    background-color: #EB4600;
}
.nav__con{
    display: flex;
    align-items: center;
    padding: 1em 4em;
    border-bottom: 1px solid #b8b9bc;
}
.logo{
    width: 30%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    position: relative;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 30rem;
    margin-right: 2em;
}

.nav__list li{
    height: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
    cursor: pointer;
}
.active{
    font-size: 16px;
    color: #EB4600 !important;
}
.inactive{
    font-size: 13px;
    color: #111111;
    text-decoration: none;
}
.nav__button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 40px;
    width: 126px;
    height: 40px;
    background: #EB4600;
    color: white;
    box-shadow: 0px 13px 14px rgba(255, 122, 0, 0.82);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.donate{
    visibility: hidden;
}
.nav__bar{
    visibility: hidden;
}
.bar{
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: #EB4600;
    margin-left: 3em;
}


@media screen and (max-width: 1000px) {
    .logo{
        width: 50%;
    }
    .nav__list{
        width: 25em;
        margin-right: 0;
    }   
    .nav__button{
        margin-left: 0;
    }
}
@media screen and (max-width: 850px){
    /* .nav__con{
        align-items: start;
    } */
    .logo{
        width: 150px;
    }
    nav{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .nav__list{
        position: absolute;
        flex-direction: column;
        width: 8em;
        margin-left: 2em;
        height: 10em;
        padding: 1em;
        border-radius: 10px;
        top: 3em;
        transition: 5s ease-in-out;
        right: -2em;
        background: rgba(255, 122, 0, 0.82);
        filter: drop-shadow(0px 16.5926px 27.2593px rgba(255, 122, 0, 0.82));   

    }
    .nav__bar{
        visibility: visible;
        margin-left: 3rem;
    }
    .closed{
        display: none;
    }
    .open{
        display: none;
    }
    .lists{
        display: none;
    }
  
}
@media only screen and (max-width: 550px){
    .nav__con{
        align-items: center;
    }
    .logo{
        width: 100px;
    }
    .donate{
        visibility: visible;
        font-size: 1em !important;
        color: white !important;
    }
    .nav__button{
        display: none;
    }

}


